.App {
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(50, 53, 92, 0.699);
  color: rgb(247, 244, 242);
}

.valid {
  background-color: rgb(180, 249, 180);
}

.invalid {
  background-color: rgb(250, 151, 151);
}
.normal {
  background-color: rgb(247, 244, 242);
}
/* .header {
  margin-top: 50px;
} */

#Row1 {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}
#progress {
  margin-top: 150px;
}

#section2 {
  margin: 200px auto;
}

#keyboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}
#keyboard button {
  color: rgba(10, 15, 44, 0.76);
  font-size: 1rem;
  font-weight: bold;
}

#reset {
  background-color: rgba(245, 11, 11, 0.493);
  color: rgb(228, 221, 216);
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
